.container {
  text-align: center;
  margin-top: 200px;
}

.title {
  font-size: 32px;
  line-height: 48px;
}

.link {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: green;
  border-radius: 5px;
  padding: 10px 40px;
  margin-top: 100px;
}
