.container {
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: 42px;
  padding: 10px 40px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.resetBtn {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: green;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: auto;
}
