.container {
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: 42px;
  padding: 10px 40px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.controls {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.toggleThemeBtn {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #DEDEDE;
  border: none;
  border-radius: 50px;
  transition: background-color 0.14s;
  margin-right: 20px;
  cursor: pointer;

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #777;
    border-radius: 50%;
    transition: all 0.14s;
  }

  &Active {
    background-color: #777;

    &:before {
      background-color: #DEDEDE;
      transform: translateX(100%);
    }
  }
}
