.btn {
  display: inline-block;
  min-width: 250px;
  font-size: 20px;
  line-height: 30px;
  background-color: #FFF;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 20px;

  &:disabled {
    opacity: 0.5;
    border: 1px solid #CCC;
    cursor: default;
  }

  &Dark {
    color: #FFF;
    background-color: #434343;
  }

  &Correct {
    color: #FFF;
    background-color: green;
  }

  &Incorrect {
    color: #FFF;
    background-color: red;
  }
}
